.main {
    background-color: honeydew;
    font-family: 'Shrikhand', cursive;
}

.app {
    border-radius: 14px;
    border: solid 12px khaki;
    padding: 12px;
}

.wrapper__header {
    text-align: center;
}

.wrapper__main-image{
    text-align: center;
}

.wrapper__footer-image {
    text-align: center;
}

.wrapper-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.wrapper__footer {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.autorization-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
    margin-top: 10px;
    background: transparent;
    gap: 30px;
}

.wrapper__label-user {
    display: block;
    text-align: center;
}

.main-tittle {
    text-align: center;
    margin-top: 12px;
    font-family: 'Shrikhand', cursive;
    font-weight: bolder;
    font-size: 40px;
}

.app__main-tittle {
    text-align: center;
    margin-top: 12px;
    font-family: 'Shrikhand', cursive;
    font-weight: bolder;
    font-size: 40px;
}

.wrapper__button-user,
.wrapper__input-user {
    display: block;
    border-radius: 16px;
    border: none;
    background-color: khaki;
    padding: 12px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Shrikhand', cursive;
}

.wrapper__player-lobby {
    border-radius: 16px;
    border: none;
    background-color: rgb(100, 186, 75);
    padding: 12px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Shrikhand', cursive;
}

.wrapper__main-button {
    border-radius: 10px;
    border: none;
    background-color: khaki;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    font-family: 'Shrikhand', cursive;
}

.personage-button {
    width: 110px;
    border-radius: 50px;
}

.logotip-button {
    width: 250px;
}

.wrapper__choice-move{
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
}

.wrapper-footer-image